.navbar-fixed nav{
    /* background: #03a9f4; */
    background-color: #00838f;
}

.slider h3,
.slider h5{
    text-shadow: 1px 1px 3px rga(0,0,0,.5);
}

.parallax-container{
    height: 30%;
}

.parallax img{
    
    opacity: 1 !important;
}

.slider h3,
.slider h5,
.certificates h3{
    text-shadow: 1px 1px 3px rgba(0,0,0.5);
}

.certificates img{
    max-width: 150px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,.8));
}

.alian img{
    width: 200px;
    border-radius: 50%;
}

section{
    padding: 20px 0;
}

section, footer{
    padding:20px 0;
}

.fa-github,
.fa-instagram,
.fa-facebook{
    padding: 5px;
  color: white;
  font-size: 20px;
}

#brush{
    font-size:15px;
}

footer a{
    color: white;
}

footer a:hover{
    color: grey;
}

.slide-up{
    text-align: center;

}

.brand-logo{
    font-family: verdana;
}

#kategori{
    font-family: verdana;
}

#person,#hakim,#location{
    font-size: 20px;
    color: #3498db;
}
.collection{
    font-weight: bold;
}

.card-panel{
    padding: 50px !important;
   
}